.banner {
    min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .4), transparent), url('../assets/img/banner.webp') no-repeat center center / cover;
    position: relative;

    &__content {
        width: 90%;
        max-width: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        h1 {
            color: var(--color-white);
            text-align: center;
        }

        p {
            color: var(--color-gray);
            text-align: center;
        }

        .button {
            display: block;
            margin: 0 auto;
            text-decoration: none;
            text-align: center;
            display: grid;
            place-items: center;
            width: clamp(250px, 50vw, 400px);
            height: clamp(40px, 8vw, 60px);

            background-color: var(--color-primary);

            color: var(--color-white);
            line-height: 24px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }
}

.opportunity {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h2 {
        max-width: 710px;
        line-height: clamp(28px, 3vw, 40px);
    }

    p {
        max-width: 710px;
    }

    &__info {
        display: flex;
        column-gap: 30px;
        justify-content: flex-end;

        span {
            max-width: 333px;
            font-size: .9rem;
        }
    }

    &__benefits {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        img{
            max-width: clamp(600px, 47vw, 875px);
            width: 100%;
        }

        h3 {
            align-self: flex-end;
            font-style: italic;
            font-weight: 700;
            color: var(--color-secondary);
            max-width: 300px;
            width: 100%;
            flex-grow: 4;
            line-height: clamp(30px, 3vw, 40px);
        }
    }
}

